<div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutAlign.xs="end center" fxLayoutAlign.sm="end center" fxLayoutGap="20px">
  <ng-container *ngIf="(auth.isAuthenticated$ | async) === false">
    <app-login-button></app-login-button>
    <app-signup-button></app-signup-button>
  </ng-container>
  <ng-container *ngIf="auth.isAuthenticated$ | async">
    <button mat-icon-button aria-label="Ajouter nouvelle activité" [matMenuTriggerFor]="menu">
      <mat-icon>add_task</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item *ngFor="let activityLabel of activitiesList" (click)="navigateTo(activityLabel)">{{ activityLabel }}</button>
    </mat-menu>
    <button class="user-name" mat-button >{{ userName }}</button>
    <app-logout-button></app-logout-button>
  </ng-container>
</div>



