$primary: #004c6d;
$secondary: #3f5790;
$links: #ff784c;
$text-color: white;
$link-active: #ffa600;

table {
  width: 100%;
}
.mat-column-activityDate {
  font-weight: bold;
}
a {
  color: $links;
}
.mat-column-actions1, .mat-column-action2 {
  width: 7%;
}

.mat-header-cell {
  color: $secondary ;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
}
/*.mat-row .mat-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-row:hover .mat-cell {
  border-color: currentColor;
}*/
