$primary: #004c6d;
$secondary: #3f5790;
$links: #ff784c;
$text-color: white;
$link-active: #ffa600;

table {
  width: 100%;
}
.mat-column-activityDate {
  font-weight: bold;
}
a {
  color: $links;
}
.mat-column-actions1, .mat-column-action2 {
  width: 7%;
}

.mat-header-cell {
  color: $secondary ;
  font-weight: bold;
  text-transform: uppercase;
}
@media only screen and (max-width : 480px) {
  .mat-header-cell {
    font-size: 10px;
  }
  .mat-cell {
    font-size: 10px;
  }
}

@media only screen and (min-width : 481px) {
  .mat-header-cell {
    font-size: 10px;
  }
  .mat-cell {
    font-size: 10px;
  }
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 768px) {
  .mat-header-cell {
    font-size: 14px;
  }
  .mat-cell {
    font-size: 14px;
  }
}

/* Smartphones (portrait) ----------- */
@media only screen and (min-width : 1024px) {
  .mat-header-cell {
    font-size: 14px;
  }
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {
  .mat-header-cell {
    font-size: 14px;
  }
  .mat-cell {
    font-size: 14px;
  }
}

/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
  .mat-header-cell {
    font-size: 14px;
  }
  .mat-cell {
    font-size: 14px;
  }
}
