<h1 class="mat-h1">Paramétrages des activités de l'utilisateur</h1>
<form #settingsForm="ngForm" (ngSubmit)="onSubmit(settingsForm)">
<section class="activity-content">
    <app-settings-user-activities *ngIf="isActivities" [activities]="activitiesList" [userActivities]="userActivitiesList"></app-settings-user-activities>
</section>
<section class="displayBlock">
    <div class="mat-card-header">
        <div class="mat-card-title mat-h2">
            Définition des Unités par type de mesure
        </div>
    </div>    

    <app-table-activity-fields-unity activityName="Rameur" [data]="data" [displayedColumns]="displayedColumns" (deleteButton)="deleteActivityTypeUnity($event)"></app-table-activity-fields-unity>
    
</section>
<button type="submit" mat-raised-button color="primary">Enregistrer</button>
</form>


