$primary: #004c6d;
$secondary: #ff784c;
$text-color: white;
$radius: 20px;

.unitColor {
    color: $secondary !important;
}

.left {
  background-color: $primary;
  color: $secondary;
  writing-mode: vertical-lr;
  text-orientation: mixed;
  min-width: 50px;
  padding: 30px 10px;
}

#container {
  border: 2px solid $primary;
  border-radius: $radius;
  .left {
    border-bottom-left-radius: $radius;
    border-top-left-radius: $radius;
  }
  .right {
    border-bottom-right-radius: $radius;
    border-top-right-radius: $radius;
    padding: 20px 50px;
  }
}

@media only screen and (max-width : 480px) {
  #container {
    .left {
      font-size: 40px;
    }
  }
}

@media only screen and (min-width : 481px) {
  #container {
    .left {
      font-size: 40px;
    }
  }
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 768px) {
  #container {
    .left {
      font-size: 100px;
    }
  }
}

/* Smartphones (portrait) ----------- */
@media only screen and (min-width : 1024px) {
  #container {
    .left {
      font-size: 100px;
    }
  }
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {
  #container {
    .left {
      font-size: 100px;
    }
  }
}

/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
  #container {
    .left {
      font-size: 100px;
    }
  }
}
