<div *ngIf="controlsList.length > 0" id="container" [formGroup]="globalForm" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">
  <div class="left" fxLayoutAlign="center center" fxFlex="30" [id]="'ctrl-' + controlWithIcon.order" *ngIf="controlWithIcon.controlType == GRAPHICAL">
    <mat-icon class="sportIcon">{{ controlWithIcon.activityIcon }}</mat-icon>
  </div>
  <div class="right" fxLayout="column">
    <h2>{{ title }} {{ controlWithIcon.value }}</h2>
    <div fxLayout="row wrap" fxLayoutGap="20px" fxLayoutAlign="start">
    <ng-container *ngFor="let control of controlsList">
        <div [ngSwitch]="control.controlType" *ngIf="control.controlType !== GRAPHICAL">
          <mat-form-field [id]="'ctrl-' + control.order" appearance="outline">
            <mat-label>{{ control.label }}</mat-label>
            <div  *ngSwitchCase="'textboxdate'">
              <input matInput [matDatepicker]="picker" [formControlName]="control.controlName">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </div>
            <div *ngSwitchCase="'textboxtime'">
              <input type="time" matInput [formControlName]="control.controlName">
              <span class="unitColor" *ngIf="control.controlUnit" matSuffix>{{ control.controlUnit }}</span>
            </div>
            <div *ngSwitchCase="'textbox-decimal'">
              <input appReplaceCommaByDotInCtrl matInput [formControlName]="control.controlName">
              <span class="unitColor" *ngIf="control.controlUnit" matSuffix>{{ control.controlUnit }}</span>
            </div>
            <div *ngSwitchCase="'textbox-nodecimal'">
              <input matInput [formControlName]="control.controlName">
              <span class="unitColor" *ngIf="control.controlUnit" matSuffix>{{ control.controlUnit }}</span>
            </div>
            <mat-error *ngIf="globalForm.get(control.controlName).hasError('required')">{{ control.label}} manquante</mat-error>
            <mat-error *ngIf="globalForm.get(control.controlName).hasError('pattern')">Erreur dans le format de votre saisie</mat-error>
            <mat-error *ngIf="globalForm.get(control.controlName).hasError('max')">La valeur renseignée est trop grande</mat-error>
            <mat-error *ngIf="globalForm.get(control.controlName).hasError('min')">La valeur renseignée est trop petite</mat-error>
          </mat-form-field>

        </div>
    </ng-container>
    </div>
    <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="20px">
      <button *ngIf="formAction == ADD" mat-raised-button color="accent" (click)="saveForm()" [disabled]="globalForm.invalid">Ajouter</button>
      <button *ngIf="formAction == EDIT" mat-raised-button color="accent" (click)="updateForm()" [disabled]="globalForm.invalid">Mettre à jour</button>
      <button mat-raised-button color="accent" (click)="cancelForm()">Annuler</button>
    </div>
  </div>

</div>
