
.container {
  position: absolute;
  top: 60px;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;
  z-index: 0;
}

.btnCollapseMenu {
  position: relative;
  top:0;
  left: 5px;
  z-index: 1000;
}
.mat-drawer-side {
  padding-top: 10px !important;
  border-right : none;
}
.main {
  padding: 0 40px;
  background-color: #fff;
}
.left-sidenav {
  background-color: white;
}
