

<app-header [menuOpened]="menuOpened" (openCloseMenu)="openCloseMenu()"></app-header>
<mat-sidenav-container [ngClass]="{'container-big-screen': screenIsBig, 'container-small-screen': screenIsSmall}">
  <mat-sidenav class="left-sidenav" #sidenav mode="side" [opened]="menuOpened">
    <app-sidebar></app-sidebar>
  </mat-sidenav>
  <mat-sidenav #sidenav2 opened mode="side" position="end">
    <app-aside></app-aside>
  </mat-sidenav>
  <mat-sidenav-content class="main" fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="20px">
    <div fxLayout="row" fxLayoutAlign="end center">
      <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
      <button mat-icon-button class="btnCollapseMenu" (click)="sidenav2.toggle()" color="primary" aria-label="Menu">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
<!--<app-footer></app-footer>-->
