

<app-header [menuOpened]="menuOpened" (openCloseMenu)="openCloseMenu($event)"></app-header>
<mat-sidenav-container class="container">
  <mat-sidenav #sidenav mode="side" opened="opened">
    <app-sidebar></app-sidebar>
  </mat-sidenav>
  <mat-sidenav #sidenav2 opened mode="side" position="end">
    <app-aside></app-aside>
  </mat-sidenav>
  <mat-sidenav-content class="main" fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="20px">
    <div fxLayout="row" fxLayoutAlign="end center">
      <button mat-icon-button class="btnCollapseMenu" (click)="sidenav2.toggle()" color="primary" aria-label="Menu">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
<app-footer></app-footer>
