$primary: #004c6d;
$secondary: #3f5790;
$links: #ff784c;
$text-color: white;
$link-active: #ffa600;

.container-big-screen {
  position: absolute;
  top: 60px;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;
  z-index: 0;
}
.container-small-screen {
  position: absolute;
  top: 120px;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;
  z-index: 0;
}

.btnCollapseMenu {
  position: relative;
  top:0;
  left: 5px;
  z-index: 1000;
}
.mat-drawer-side {
  padding-top: 10px !important;
  border-right : none;
}
.main {
  padding: 0 40px;
  background-color: #fff;
}
.left-sidenav {
  background-color: $primary !important;
}

@media only screen and (max-width : 480px) {
  .main {
    padding: 0 10px;
  }
}

@media only screen and (min-width : 481px) {
  .main {
    padding: 0 10px;
  }
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 768px) {
  .main {
    padding: 0 30px;
  }
}

/* Smartphones (portrait) ----------- */
@media only screen and (min-width : 1024px) {
  .main {
    padding: 0 30px;
  }
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {
  .main {
    padding: 0 30px;
  }
}

/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
  .main {
    padding: 0 40px;
  }
}
