<app-header [menuOpened]="menuOpened" (openCloseMenu)="openCloseMenu()"></app-header>
<mat-sidenav-container [ngClass]="{'container-big-screen': screenIsBig, 'container-small-screen': !screenIsBig}">
  <mat-sidenav class="left-sidenav" #sidenav mode="side" [opened]="menuOpened">
    <app-sidebar></app-sidebar>
  </mat-sidenav>
  <mat-sidenav-content class="main" fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="30px">
    <div>
      <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
    </div>
    <div fxLayout="row" fxLayout.lt-lg="column" fxLayoutGap.lt-lg="50px">
      <div fxFlex="80%" fxFlex.lt-lg="100">
        <router-outlet></router-outlet>
      </div>
      <app-aside fxFlex="20%"></app-aside>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
