.list-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.column-container {
    width: 45%;
}

.mat-card {
    margin: 5px 0px;
    padding: 10px;
}

.mat-card:hover {
    background-color: goldenrod;
}

.mat-card-subtitle {
    margin-bottom: 0;
}