<mat-list>
  <mat-list-item fxLayout="row" fxLayoutAlign="center center">
    <button routerLink="" mat-fab color="primary" aria-label="home">
      <mat-icon>home</mat-icon>
    </button>
  </mat-list-item>
  <div mat-subheader></div>
 <mat-list-item>
        <a mat-line mat-list-item routerLink="dashboard" routerLinkActive="active" href="#"><fa-icon [icon]="faDashboard"></fa-icon>Dashboard</a>
    </mat-list-item>
    <mat-list-item>
        <a mat-line mat-list-item routerLink="" routerLinkActive="active" href="#"><fa-icon [icon]="faBiking"></fa-icon>Mes activités</a>
    </mat-list-item>
</mat-list>
